@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-text-opacity: 1;
    --ods-color-primary-50: rgb(var(--ods-color-neutral-50)); /* former: 235,242,254 */
    --ods-color-primary-100: 255 198 233;
    --ods-color-primary-200: 255 198 233;
    --ods-color-primary-300: 255 111 200;
    --ods-color-primary-400: 255 111 200;
    --ods-color-primary-500: 232 24 153;
    --ods-color-primary-600: 232 24 153;
    --ods-color-primary-700: 216 14 139;
    --ods-color-primary-800: 216 14 139;
    --ods-color-primary-900: 154 0 96; /* former: 4,31,77 */
    --foreground-rgb: rgb(var(--ods-color-neutral-800));

    /* Font */
    --ods-font-weight-normal: 400;
    --ods-font-weight-semibold: 600;

    /* Layering */
    --hub-navbar-z-index: 10;
    --ods-dialog-overlay-z-index: 20;
    --ods-dialog-alert-overlay-z-index: 20;
    --ods-dialog-content-z-index: 30;
    --ods-dialog-alert-content-z-index: 30;
    --ods-dropdown-container-content-z-index: 40;
  }
}

body {
  /* Variables imported from layout.tsx > @aragon/ods */
  color: var(--ods-color-neutral-800);
  background-color: var(--ods-color-neutral-50);
  font-family: var(--ods-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Variables imported from layout.tsx > @aragon/ods */
  color: var(--ods-color-neutral-800);
}

p,
ul,
ol {
  /* Variables imported from layout.tsx > @aragon/ods */
  color: var(--ods-color-neutral-600);
}

/* Inline alerts */
div.inline-flex.items-center.gap-x-2.rounded p {
  font-size: 14px !important;
  font-weight: 400;
  opacity: 0.8;
}

/* Smaller titles */
label div p.leading-tight {
  font-size: 1rem;
}
